---
import Layout from "@/layouts/Layout.astro";
import Sidebar from "../components/Sidebar.tsx";
import UploadArea from "../components/UploadArea.tsx";
import UploadMenu from "../components/UploadMenu.tsx";
---

<Layout>
   <div class="min-h-screen bg-gray-50">
      <Sidebar />

      {/* Main Content */}
      <div class="pl-16 transition-all duration-300">
        <div class="flex">
          <UploadArea />
        </div>
      </div>

      {/* Right Menu */}
      <UploadMenu />
    </div>
</Layout>
